@model IEnumerable<Roles>
@{
    ViewData["Title"] = "Roles";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Roles</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Users" asp-action="CreateRoles" class="btn btn-primary" style="width:250px">
                Create New Roles
            </a>
        </div>
    </div>
</div>
<table class="table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Roles Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Users</th>
            <th>
                <label>Action</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="100">
                    @obj.RolesName
                </td>
                <td width="100">
                    @obj.Username
                </td>
                <td width="50">
                    @obj.Password
                </td>
                <td width="50">
                    @obj.UsersId
                </td>
                <td width="50" class="justify-content-end">

                    <a asp-controller="Users" asp-action="EditRoles" asp-route-id="@obj.RolesId" class="btn btn-success btn-mini"><i class="fas fa-edit"> Edit</i></a>
                    <a asp-controller="Users" asp-action="DeleteRoles" asp-route-id="@obj.RolesId" class="btn btn-danger btn-mini"><i class="fas fa-trash-alt"> Delete</i></a>

                </td>
            </tr>
        }
    </tbody>
</table>


